body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-color: #333;
	margin: 0px;
	padding: 0px;
	color: #ECEBE6;
}
.wrapper .navigation .table {
	text-align: center;
	font-size: 18px;
}
.wrapper {
	background-color: #333;
	width: auto;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 0px;
	border: medium none #000;
	margin-bottom: 30px;
}
.wrapper .navigation .table .image img {
	text-align: left;
	vertical-align: text-top;
	padding: 5px;
	border: thick solid #000;
}
